<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head >  <!-- LINKS: <head th:replace="plantilla/template::head"></head> -->

        <title>Categorias</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- NAVBAR <header th:replace="plantilla/template::header"></header> -->

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="images/monitor.jpg" class="card-img-top" alt="monitor">
                    <div class="card-body">
                        <h5 class="card-title">MONITORES</h5>
                        <p class="card-text">Este componente muestra la informaci&oacute;n de tu equipo como im&aacute;genes y textos.</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a href="monitores.html" class="btn btn-primary">Ver m&aacute;s</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/computadora.jpg" class="card-img-top" alt="computadora">
                    <div class="card-body">
                        <h5 class="card-title">COMPUTADORAS</h5>
                        <p class="card-text">Dispositivo inform&aacute;tico capaz de recibir, almacenar y procesar informaci&oacute;n.</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a href="computadoras.html" class="btn btn-primary">Ver m&aacute;s</a>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/procesador.jpg" class="card-img-top" alt="procesador.jpg">
                    <div class="card-body">
                        <h5 class="card-title">PROCESADORES</h5>
                        <p class="card-text">Este componente procesa todo lo que ocurre en la PC y ejecuta todas las acciones que existen.</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a href="procesador.html" class="btn btn-primary">Ver m&aacute;s</a>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/tarjetaG.jpg" class="card-img-top" alt="tarjetaG">
                    <div class="card-body">
                        <h5 class="card-title">TARJETAS GRAFICAS</h5>
                        <p class="card-text">Este componente transforma los datos que env&iacute;a el procesador.</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a href="tarjetas.html" class="btn btn-primary">Ver m&aacute;s</a>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <!-- footer: <footer th:replace="plantilla/template::footer"></footer> -->
    </body>
</html>
