/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 jun. 2022, 15:08:55
    Author     : josea
*/



*{
    font-family: 'Open Sans', sans-serif;
}
.nav-links{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica,sans-serif;
    letter-spacing: 3px;
    padding: 10px 20px;
    margin: 0 14px;
    transition: color 0.3s ease-in-out;
    
}
.navbar{
    height: 15vh;
    width: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    background: black;
    padding-bottom:30px;
    box-shadow: 1px 1px 5px #000;
    margin-top: 0.5%; 
}

.logo{
    margin-top: 40px;
    width: 160px;
    cursor: pointer;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;

}


.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: midnightblue;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}




.container{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;

}

.flex-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 2px solid black;
}

img{
    width: 200px;
}

.content h1{


    text-decoration: none;
    color: blue;
}

.content{
    margin-left: 100px;
}

.content h2{
    margin-left: 265px;
    text-decoration: none;
    color: blue;
}

