/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 ago. 2022, 12:16:37
    Author     : Jeider Barber
*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card span
{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    /*background: #f00;*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card span::before
{
    content: 'REBAJAS';
    position: absolute;
    width: 150%;
    height: 40px;
    background: #23a2f6;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.1em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1)
}
.card span::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: #4a98bf;
    z-index: -1;
    box-shadow: 140px -140px #4a98bf;
}
