/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 jun. 2022, 13:29:26
    Author     : Usuario
*/

*{
    font-family: 'Open Sans', sans-serif;
    
}
body{
    background-color: black;
}
.body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-list{
    list-style-type: none;
    display: flex;
    height: 80px;
}

.nav-links{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica,sans-serif;
    letter-spacing: 3px;
    padding: 15px 30px;
    margin: 0 18px;
    transition: color 0.3s ease-in-out;
}

.nav-links::before{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-image: linear-gradient(to right,#a1c4fd,#c2e9fb);
    transition: width 0.3s ease-in-out;    
}


.banner{
    width: 100%;
    height: 600px;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes banner{
    0%, 20%{
        background-image: url(../images/banner1.jpg);
    }
    25%, 45%{
        background-image: url(../images/banner2.jpg);
    }
    50%, 70%{
        background-image: url(../images/banner3.jpg);
    }
    75%, 100%{
        background-image: url(../images/banner4.jpg);
    }
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);    
}

.info{
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.info h1{
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.info p{
    color: #c7c7c7;
    line-height: 1.7;
    margin-bottom: 30px;
}

.info a{
    color: #fff;
    text-decoration: none;
    background: #3088e0;
    padding: 16px 37px;
    display: inline-block;
    border-radius: 50px;
}