/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 jun. 2022, 23:54:53
    Author     : josea
*/

.content {
    margin-left: 100px;
}

.conteiner h4{
    text-decoration: none;
    color: darkblue;
}

.cont h3{
    text-decoration: none;
    color: black;
}


*{
    font-family: 'Open Sans', sans-serif;
}
.cont{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 2px solid black;
    text-align: center;

}

.feature-asus{
    width: 250px;
}
.feature-dell{
    width: 180px;
    margin-top: 15px;
}

.conteiner{
    margin-left: 100px;
}
.content h1{

    color: darkblue;
}
.conteiner h2{
    text-align: center;
    color: darkblue;
}

.container{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}
.feature-MSI{
    width: 200px;
}

.nav-links{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica,sans-serif;
    letter-spacing: 3px;
    padding: 10px 20px;
    margin: 0 14px;
    transition: color 0.3s ease-in-out;
}
