/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 jun. 2022, 23:54:53
    Author     : josea
*/

.content {
    margin-left: 100px;
}

.conteiner h4{
    text-decoration: none;
    color: darkblue;
}

.cont h3{
    text-decoration: none;
    color: black;
}


*{
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    height: 15vh;
    width: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    background: black;
    padding-bottom:30px;
    box-shadow: 1px 1px 5px #000;

}

.logo{
    margin-top: 40px;
    width: 160px;
    cursor: pointer;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;

}
a{
    color: white;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: midnightblue;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}

.cont{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 2px solid black;
    text-align: center;

}

.feature-asus{
    width: 250px;
}
.feature-dell{
    width: 180px;
    margin-top: 15px;
}

.conteiner{
    margin-left: 100px;
}
.content h1{

    color: darkblue;
}
.conteiner h2{
    text-align: center;
    color: darkblue;
}

.container{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}
.feature-MSI{
    width: 200px;
}

.nav-links{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica,sans-serif;
    letter-spacing: 3px;
    padding: 10px 20px;
    margin: 0 14px;
    transition: color 0.3s ease-in-out;
}