/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 jun. 2022, 20:48:52
    Author     : josea
*/
*{
    font-family: 'Open Sans', sans-serif;
}

body {

    -webkit-font-smoothing: antialiased;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    overflow-x: hidden;
    color: rgb(51, 51, 51);
    font-family: "Open Sans", sans-serif, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height:1.25rem;
}
h1{
    top:120%;
    height: 0px;
    position:relative;
    margin:50px;
}
.media-img{
    object-fit: cover;
    width: 100%;
    height: 450px;

}

.relative{
    top:0%;
    left: auto;
    padding-left: 0%;
    padding-right: 0%;
    position: relative;
}

div h2{
    height: 50px;
    width: 50px;
    font-size: 1.50rem;
    color: black;
}
/* Style the header */
header {
    background-color: #34495E ;
    padding: 1px;
    text-align: center;
    font-size: 30px;
    color:#D5D8DC
}
h1{
    text-align: center;
    margin: 100px;
}
.absolute{
    margin: 100px;
    text-align: center;
}

article {
    text-align: center;
    margin-top: 5%;
    vertical-align:-90px;
    float:right;
    top: 70em;
    left: 70em;
    padding:30px;
    width: -600%;
    background-color: white;
    height: -600%; /* only for demonstration, should be removed */
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 350px) {
    nav, article {
        width: 80%;
        height: auto;
        text-align: center;
    }
    .Logo-img{
        overflow-x: hidden;
        height: 30%;
        position: absolute;
        bottom: 30px;
        right: 140px;
        border: 1px solid aquamarine;
    }
    cont a{
    color: black;
    text-align: center;
}
section ul{
    padding: 0px;
    text-align: center;
}

}
