<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link rel="stylesheet" href="css/amd.css" type="text/css"/>
        <title>AMD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/footer.css" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>

    <body>
        <div class='navbar'>
            <img src="images/logo.png" class='logo' alt="Es mi logo"/>
            <nav>
                <ul class="menu-horizontal">
                    <li><a th:href="@{/home}" class="nav-links"
                           th:text="#{categoria.inicio2}">Inicio</a></li>
                    <li><a th:href="@{/computadoras}" class="nav-links"
                           th:text="#{categoria.computadoras}">Computadoras</a></li>
                    <li>
                        <a href="#" class="nav-links" 
                           th:text="#{categoria.componentes}">Componentes</a>
                        <ul class="menu-vertical">
                            <li><a th:href="@{/monitores}" class="nav-links"
                                   th:text="#{categoria.monitores}">Monitores</a></li>
                            <li><a th:href="@{/tarjetas}" class="nav-links"
                                   th:text="#{categoria.tarjetas}">Tarjetas Graficas</a></li>
                            <li><a href="procesador.html" class="nav-links"
                                   th:text="#{categoria.procesadores}">Procesadores</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="nav-links">Login</a></li>
                    <li><a th:href="@{/ayuda}" class="nav-links"
                           th:text="#{categoria.ayuda}">Ayuda</a></li>
                </ul>
            </nav>
        </div>




        <div class="container">
            <div class="flex">
                <img src="images/tarje5.png" class="Tarjeta" alt="tarjeta1"><br><br>
                <div style="text-align:center;">XFX Speedster QICK319 - Tarjeta gráfica AMD Radeon RX 6700</div>

                <h4 style="text-align:center;">Precio: $999.999</h4><br>
                <div>La tarjeta gráfica AMD Radeon RX 6700 XT, con la arquitectura AMD RDNA 2, con 40 potentes unidades de cómputo mejoradas, la nueva caché AMD Infinity y 12 GB de memoria GDDR6 dedicada, está diseñada para ofrecer velocidades de fotogramas ultra altas y potentes juegos de resolución 1440p.</div>
            </div></div>

        <div class="container">
            <div class="flex">
                <img src="images/tarje6.png" class="Tarjeta" alt="tarjeta1">
                <div style="text-align:center;">AMD Radeon RX 6600 XT</div>

                <h4 style="text-align:center;">Precio: $999.999</h4><br>
                <div>La nueva serie Radeon RX 6600 XT con tecnología RDNA para un rendimiento excepcional y juegos de alta fidelidad. Toma el control con la serie RX 6600 XT y disfruta de juegos potentes y acelerados personalizados para ti. La serie Radeon RX 6600 XT cuenta con nuevas unidades de cómputo, nuevas instrucciones más adecuadas para efectos visuales y jerarquía de caché multinivel</div>
                <br>
            </div></div>
        <div class="container">
            <div class="flex">
                <img src="images/tarje7.png" class="Tarjeta" alt="tarjeta1">
                <div style="text-align:center;">PowerColor AMD Radeon RX </div>

                <h4 style="text-align:center;">Precio: $999.999</h4><br>
                <div>Basada en la arquitectura AMD RDNA™ 2, la tarjeta gráfica PowerColor Fighter Radeon™ RX 6600 cuenta con 28 unidades de cómputo, 32 MB del nuevo AMD Infinity Cache y 8 GB de memoria GDDR6 dedicada, está diseñada para ofrecer velocidades de cuadro ultra altas y 1080p definitivo. experiencia de juego</div>
            </div></div>
        <div class="container">
            <div class="flex">
                <img src="images/tarje8.png" class="Tarjeta" alt="tarjeta1">

                <div style="text-align:center;">Edition 1286MHz,tarjeta gráfica AMD</div>
                <h4 style="text-align:center;">Precio: $999.999</h4><br>
                <div>Gráficos fenomenales
                    vive un nuevo nivel de inmersión con las tecnologías DirectX® 12 Ultimate y AMD FidelityFX™. Disfruta una riqueza y profundidad de color increíbles de la mano de AutoHDR en Windows 11. </div>
            </div></div>
        <footer th:replace="plantilla/template::footer" > </footer>
        <div class="copyrightText">
            <p>Copyright © 2022 STREAMTEG. All Right Reserved.</p>
        </div>
    </body>

</html>
