<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html>
    <head>
        <link rel="stylesheet" href="css/ayuda.css"/>
        <link rel="stylesheet" href="css/footer.css" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>Ayuda</title>
    </head>
    <body>
        
        <div class='navbar'>
            <img src="images/logo.png" class='logo' alt="Es mi logo"/>
            <nav>
                <ul class="menu-horizontal">
                    <li><a th:href="@{/home}" class="nav-links"
                           th:text="#{categoria.inicio2}">Inicio</a></li>
                    <li><a th:href="@{/computadoras}" class="nav-links"
                           th:text="#{categoria.computadoras}">Computadoras</a></li>
                    <li>
                        <a href="#" class="nav-links" 
                           th:text="#{categoria.componentes}">Componentes</a>
                        <ul class="menu-vertical">
                            <li><a th:href="@{/monitores}" class="nav-links"
                                   th:text="#{categoria.monitores}">Monitores</a></li>
                            <li><a th:href="@{/tarjetas}" class="nav-links"
                                   th:text="#{categoria.tarjetas}">Tarjetas Graficas</a></li>
                            <li><a href="@{/procesadores}" class="nav-links"
                                   th:text="#{categoria.procesadores}">Procesadores</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="nav-links">Login</a></li>
                    <li><a th:href="@{/ayuda}" class="nav-links"
                           th:text="#{categoria.ayuda}">Ayuda</a></li>
                </ul>
            </nav>
        </div>
        
        <div>
            <h1 th:text="#{titulo.ayuda}"> Cu&eacute;ntanos c&oacute;mo podemos ayudarte </h1>
            <div class="static">
                <h2 th:text="#{info.ayuda}">Buscar</h2>
            </div>
            <div>
                
                <ul>
                    <li><a href="#">Ayuda con su cuenta</a></li>
                    <li><a href="#">Ayuda con los pagos</a></li>
                    <li><a href="mailto:streamteg01@gmail.com">Cont&aacute;ctate con nosotros</a></li>
                    <li><a href="#">Cont&aacute;ctate con nosotros</a></li>
                    <li><a href="#">Opciones de pago</a></li>
                    <li><a href="#">Fallo en el pedido</a></li>
                </ul>

            </div>

        </div>
        
    </body>
    <footer th:replace="plantilla/template::footer"> </footer>
        <div class="copyrightText">
            <p>Copyright © 2022 STREAMTEG. All Right Reserved.</p>
        </div>
</html>
