<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head >  <!-- LINKS: <head th:replace="plantilla/template::head"></head> -->

        <title>Categorias</title>
        <link rel="stylesheet" href="css/footer.css" type="text/css"/>
        <link rel="stylesheet" href="css/categorias.css" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>

    <body>
        
        <header th:replace="plantilla/template::header"></header>
        
        <!-- NAVBAR <header th:replace="plantilla/template::header"></header> -->

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="images/monitor.jpg" class="card-img-top" alt="monitor">
                    <div class="card-body">
                        <h5 class="card-title"
                           th:text="#{titulo.categm}" >MONITORES</h5>
                        <p class="card-text"
                           th:text="#{info.categm}">Este componente muestra la informaci&oacute;n de tu equipo como im&aacute;genes y textos.</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a th:href="@{/monitores}" class="btn btn-primary"
                               th:text="#{boton.categ}">Ver m&aacute;s</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/computadora.jpg" class="card-img-top" alt="computadora">
                    <div class="card-body">
                        <h5 class="card-title"
                            th:text="#{titulo.categc}">COMPUTADORAS</h5>
                        <p class="card-text"
                           th:text="#{info.categc}">Dispositivo inform&aacute;tico capaz de recibir, almacenar y procesar informaci&oacute;n.</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a th:href="@{/computadoras}" class="btn btn-primary"
                               th:text="#{boton.categ}">Ver m&aacute;s</a>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/procesador.jpg" class="card-img-top" alt="procesador.jpg">
                    <div class="card-body">
                        <h5 class="card-title"
                            th:text="#{titulo.categp}">PROCESADORES</h5>
                        <p class="card-text"
                           th:text="#{info.categp}">Este componente procesa todo lo que ocurre en la PC y ejecuta todas las acciones que existen.</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a href="@{/procesadores}" class="btn btn-primary"
                               th:text="#{boton.categ}">Ver m&aacute;s</a> <!-- ARREGLAR PROCESADORES -->
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/tarjetaG.jpg" class="card-img-top" alt="tarjetaG">
                    <div class="card-body">
                        <h5 class="card-title"
                            th:text="#{titulo.categt}">TARJETAS GRAFICAS</h5>
                        <p class="card-text"
                           th:text="#{info.categt}">Este componente transforma los datos que env&iacute;a el procesador.</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a th:href="@{/tarjetas}" class="btn btn-primary"
                               th:text="#{boton.categ}">Ver m&aacute;s</a>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="plantilla/template::footer"> </footer>
        <div class="copyrightText">
            <p>Copyright © 2022 STREAMTEG. All Right Reserved.</p>
        </div>
    </body>
</html>
