<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Inicio</title>
        <link rel="stylesheet" href="css/footer.css" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="css/home.css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class='navbar'>
            <nav>
                <ul class="nav-list">
                    <li> <a th:href="@{/home}" class="nav-links"
                            th:text="#{categoria.inicio}">INICIO</a></li>  <!-- SEMANA 9 WEB -->
                    <li> <a th:href="@{/descuentos}" class="nav-links"
                            th:text="#{categoria.descuento}">DESCUENTOS</a></li>
                    <li> <a th:href="@{/categorias}" class="nav-links"
                            th:text="#{categoria.categorias}">CATEGORIAS</a></li>
                    <li> <a href="personaN" class="nav-links">SIGN IN</a></li>
                    <li> <a href="login" class="nav-links">LOG IN</a></li>
                </ul>
            </nav>
        </div>
        <div class="banner">
            <div class="capa"></div>
            <div class="info">
                <h1 th:text="#{titulo.home}"></h1> <!-- SEMANA 9 WEB -->
                <p th:text="#{info.home}">En esta p&aacute;gina puedes encontrar los mejores componentes para
                tu pc con la mejor calidad y precio de todo el pa&iacute;s.</p>
                <a th:href="@{/computadoras}" th:text="#{boton.home}">Ver mas</a>
                
            </div>
        </div>
        <br>
        <br>
    </body>
    <!-- <footer>
            <div class="container">
                <div class="sec aboutus">
                    <h2>About Us</h2>
                    <p>Esta pagina fue creada con la intencion de
                        brindar a las personas usuarias componentes 
                        electronicos de la mejor calidad y un buen 
                        precio.</p>
                    <ul class="sci">
                        <li><a href="https://www.facebook.com/StreamTeg-104088852409000"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/StreamTeg"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/streamteg01/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                    </ul>
                </div>
                <div class="sec quickLinks">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="url">About</a></li>
                        <li><a href="url">FAQ</a></li>
                        <li><a href="url">Privacy Policy</a></li>
                        <li><a href="ayuda.html">Ayuda</a></li>
                        <li><a href="TerminosyCondiciones.html">Terminos y Condiciones</a></li>
                        <li><a href="url">Contact</a></li>
                    </ul>
                </div>
                <div class="sec contact">
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <span>Calle Flores, <br>
                                Santo Domingo, Heredia <br> Costa Rica</span>
                        </li>
                        <li>
                            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <p><a href="tel:+50612344321">+506 1234 4321</a><br>
                                <a href="tel:+50612344321">+506 1234 4321</a></p>
                        </li>
                        <li>
                            <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                            <p><a href="mailto:streamteg01@gmail.com">streamteg01@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="copyrightText">
            <p>Copyright © 2022 STREAMTEG. All Right Reserved.</p>
        </div>-->
</html>
