<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link rel="stylesheet" href="css/monitores.css" type="text/css"/>
        <link rel="stylesheet" href="css/footer.css" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>Monitores</title>
    </head>
    <body>

        <div class='navbar'>
            <img src="images/logo.png" class='logo' alt="Es mi logo"/>
            <nav>
                <ul class="menu-horizontal">
                    <li><a th:href="@{/home}" class="nav-links"
                           th:text="#{categoria.inicio2}">Inicio</a></li>
                    <li><a th:href="@{/computadoras}" class="nav-links"
                           th:text="#{categoria.computadoras}">Computadoras</a></li>
                    <li>
                        <a href="#" class="nav-links" 
                           th:text="#{categoria.componentes}">Componentes</a>
                        <ul class="menu-vertical">
                            <li><a th:href="@{/monitores}" class="nav-links"
                                   th:text="#{categoria.monitores}">Monitores</a></li>
                            <li><a th:href="@{/tarjetas}" class="nav-links"
                                   th:text="#{categoria.tarjetas}">Tarjetas Graficas</a></li>
                            <li><a href="procesador.html" class="nav-links"
                                   th:text="#{categoria.procesadores}">Procesadores</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="nav-links">Login</a></li>
                    <li><a th:href="@{/ayuda}" class="nav-links"
                           th:text="#{categoria.ayuda}">Ayuda</a></li>
                </ul>
            </nav>
        </div>

        <div>
            <div class="content">
                <h1 th:text="#{titulo.monit}"> Monitores</h1>

                <p th:text="#{info.monit}"> <br> Los monitores de pc, los cuales pueden ser llamados pantalla, monitor de ordenador
                    y monitor de computadora, es el principal dispositivo de salida (interfaz), que muestra
                    datos o informaci&oacuten a todos los usuarios.

                <p th:text="#{info.monit2}"> <br>Estos tambi&eacuten se pueden considerar como un perif&eacuterico de entreda/salida
                    si el monitor cuenta con pantalla t&aacutectil o multit&aacutectil.

                <p th:text="#{info.monit3}"> <br>Es por esto que en STREAMTEG antes te visualizar cuales monitores podr&aacuten adquirir, conozcan 
                    las principales caracter&iacutesticas que pueden tener estos mismos.

            </div>

            <div class="conteiner">
                <h4 th:text="#{titulo.monit2}"><br>Caracter&iacutesticas principales de un monitor de pc a tomar en cuenta:</h4>

                <ul>
                    <li th:text="#{info.monit4}">Tama&ntildeo de pantalla</li>
                    <li th:text="#{info.monit5}">Resoluci&oacuten de pantalla</li>
                    <li th:text="#{info.monit6}">&Aacutengulo de visi&oacuten</li>
                    <li th:text="#{info.monit7}">Entradas de video</li>
                    <li th:text="#{info.monit8}">Tipo de panel</li>
                    <li th:text="#{info.monit9}">Tama&ntildeo de pixel</li>
                    <li th:text="#{info.monit10}">Profundidad de color</li>
                </ul>
                <h2 th:text="#{titulo.monit3}"><br>Monitores que STREAMTEG te ofrece</h2>
            </div>
            <div class="container">
                <div class="cont">
                    <img src="images/asusm.jpeg" class="feature-asus" alt="alt"/>
                    <h2>Monitor Asus</h2>
                </div>
                <div class="cont">
                    <img src="images/dellm.jpeg" class="feature-dell" alt="alt"/>
                    <h2>Monitor Dell</h2>
                </div>
                <div class="cont">
                    <img src="images/AcerM.jpg" class="feature-dell" alt="alt"/>
                    <h2>Monitor Acer</h2>
                    <h4>IPS de 24 pulgadas<br>
                        1920x1080p<br>
                        8 bits<br>
                    </h4>
                    <h4>$999.999</h4>

                </div>
                <div class="cont">
                    <img src="images/MSI.jpg" class="feature-MSI" alt="alt"/>
                    <h2>Monitor MSi</h2>
                    <h4>IPS de 15,6 pulgadas<br>
                        1920x1080p<br>
                        262K colores<br>
                    </h4>
                    <h4>$999.999</h4>
                </div>
                <div class="cont">
                    <img src="images/MHP27.jpg" class="feature-dell" alt="alt"/>
                    <h2>Monitor HP</h2>
                    <h4>IPS de 27 pulgadas<br>
                        1920x1080p<br>
                        8 bits<br>
                    </h4>
                    <h4>$999.999</h4>
                </div>
                <div class="cont">
                    <img src="images/MSiPro.jpg" class="feature-dell" alt="alt"/>
                    <h2>Monitor MSi Pro</h2>
                    <h4>IPS de 23,8 pulgadas <br>
                        1920x1080p <br>
                        8 bits<br>
                    </h4>
                    <h4>$999.999</h4>
                </div>
                <div class="cont">
                    <img src="images/MDell1.png" class="feature-dell" alt="alt"/>
                    <h2>Monitor Dell</h2>
                    <h4>IPS de 23 pulgadas<br>
                        1920x1080p<br>
                        8 bits<br>
                    </h4>
                    <h4>$999.999</h4>
                </div>
                <div class="cont">
                    <img src="images/Phillips.jpg" class="feature-dell" alt="alt"/>
                    <h2>Monitor Phillips</h2>
                    <h4>IPS de 27 pulgadas<br>
                        2560x1440p<br>
                        8 bits 104% sRGB y 93% DCI-P3<br>
                    </h4>
                    <h4>$999.999</h4>
                </div>

            </div>
        </div>
        <footer th:replace="plantilla/template::footer"></footer>
        <div class="copyrightText">
            <p>Copyright © 2022 STREAMTEG. All Right Reserved.</p>
        </div>
    </body>
</html>
