<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link rel="stylesheet" href="css/computadoras.css" type="text/css"/>
        <link rel="stylesheet" href="css/footer.css" type="text/css"/>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="css/monitores.css" type="text/css"/>
        <link rel="stylesheet" href="css/footer.css" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>Monitores</title>
    </head>
    <body>

        <header th:replace="plantilla/template::header"></header>

        <div>
            <div class="content">
                <h1 th:text="#{titulo.monit}"> Monitores</h1>

                <p th:text="#{info.monit}"> <br> Los monitores de pc, los cuales pueden ser llamados pantalla, monitor de ordenador
                    y monitor de computadora, es el principal dispositivo de salida (interfaz), que muestra
                    datos o informaci&oacuten a todos los usuarios.

                <p th:text="#{info.monit2}"> <br>Estos tambi&eacuten se pueden considerar como un perif&eacuterico de entreda/salida
                    si el monitor cuenta con pantalla t&aacutectil o multit&aacutectil.

                <p th:text="#{info.monit3}"> <br>Es por esto que en STREAMTEG antes te visualizar cuales monitores podr&aacuten adquirir, conozcan 
                    las principales caracter&iacutesticas que pueden tener estos mismos.

            </div>

            <div class="conteiner">
                <h4 th:text="#{titulo.monit2}"><br>Caracter&iacutesticas principales de un monitor de pc a tomar en cuenta:</h4>

                <ul>
                    <li th:text="#{info.monit4}">Tama&ntildeo de pantalla</li>
                    <li th:text="#{info.monit5}">Resoluci&oacuten de pantalla</li>
                    <li th:text="#{info.monit6}">&Aacutengulo de visi&oacuten</li>
                    <li th:text="#{info.monit7}">Entradas de video</li>
                    <li th:text="#{info.monit8}">Tipo de panel</li>
                    <li th:text="#{info.monit9}">Tama&ntildeo de pixel</li>
                    <li th:text="#{info.monit10}">Profundidad de color</li>
                </ul>
                <h2 th:text="#{titulo.monit3}"><br>Monitores que STREAMTEG te ofrece</h2>
            </div>

            <div class="container">
                <div class="flex-container" th:each="user: ${monitoresdataset}">
                    <img th:src="@{/images/{img} (img=${user.getImagenes})}" class='lacer' alt="alt"/>
                    <h3 th:text="${user.getNombre}"></h3>
                    <h4 th:text="${user.getPrecio}"></h4>
                    <a th:href="@{/productovista5/{id}  (id=${user.getId})  }" type="button" class="btn btn-outline-dark">Ver producto</a>
                </div>
            </div>

        </div>
        <footer th:replace="plantilla/template::footer"></footer>
        <div class="copyrightText">
            <p>Copyright © 2022 STREAMTEG. All Right Reserved.</p>
        </div>
    </body>
</html>
