<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link rel="stylesheet" href="css/computadoras.css" type="text/css"/>
        <link rel="stylesheet" href="css/footer.css" type="text/css"/>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="css/computadoras.css" type="text/css"/>
        <link rel="stylesheet" href="css/footer.css" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="css/procesador.css" type="text/css"/>
        <link rel="stylesheet" href="css/procesador.css" type="text/css">
        <link rel="stylesheet" href="css/procesador.css" type="text/css"/>
        <link rel="stylesheet" href="css/footer.css" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>Procesadores</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div class='navbar'>
            <img src="images/logo.png" class='logo' alt="Es mi logo"/>
            <nav>
                <ul class="menu-horizontal">
                    <li><a href="@{/home}" class="nav-links">Inicio</a></li>
                    <li><a href="@{/computadoras}" class="nav-links">Computadoras</a></li>
                    <li>
                        <a href="#" class="nav-links" >Componentes</a>
                        <ul class="menu-vertical">
                            <li><a href="@{/monitores}" class="nav-links">Monitores</a></li>
                            <li><a href="@{/tarjetas}" class="nav-links">Tarjetas Graficas</a></li>
                            <li><a href="@{/procesadores}" class="nav-links">Procesadores</a></li>
                        </ul>
                    </li>
                    <li><a href="@{/login}" class="nav-links">Login</a></li>
                    <li><a href="@{/ayuda}" class="nav-links">Ayuda</a></li>
                </ul>
            </nav>
        </div>

        <div class="contains">

            <div class="content">
                <!-- br es para hacer salto de linea -->
                <h1>Procesadores</h1>
                <h3>Los mejores procesadores de todo el pais</h3>
                <p>En este apartado podra consultar por la disponibilidad de
                    los mejores procesadores y sus respectivas caracteristicas con
                    los mejores precios de todo el mercado y calidad.<br></p>
                <h3>En STREAMTEG tenemos en disponibilidad distintos tipos de procesadores:<br></h3>
                <ul>
                    <li>INTEL</li>
                    <li>AMD</li>

                </ul>
                <h2>Imagenes de los productos disponibles</h2>
            </div>
            
            <div class="container">
                <div class="flex-container" th:each="user: ${procesadoresdataset}">
                    <img th:src="@{/images/{img} (img=${user.getImagenes})}" class='lacer' alt="alt"/>
                    <h3 th:text="${user.getNombre}"></h3>
                    <h4 th:text="${user.getPrecio}"></h4>
                    <a th:href="@{/productovista2/{id}  (id=${user.getId})  }" type="button" class="btn btn-outline-dark">Ver producto</a>
                </div>
            </div>
            
        </div>
        <footer th:replace="plantilla/template::footer" >  </footer>
        <div class="copyrightText">
            <p>Copyright © 2022 STREAMTEG. All Right Reserved.</p>
        </div>
    </body>

</html>
