<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
              rel="stylesheet">

        <!-- Custom styles for this template -->
        <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <header th:replace="plantilla/template::header"></header>

        <!-- Page Content -->
        <div class="container">


            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">
                STREAMTEG <small>Productos</small>
            </h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/nvidia}">Graficas Nvidia</a></li>
                <li class="breadcrumb-item active">Producto</li>
            </ol>

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="#"> <img class="img-fluid rounded"
                                            th:src="@{/images/{img} (img=${nvidia.imagenes})  }" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <form th:action="@{/cart}" method="POST">
                                <input type="hidden" th:value="${nvidia.id}" name="id">
                                <h2 class="card-title" th:text="${nvidia.nombre}"></h2>

                                <ul class="list-group">
                                    <li class="list-group-item"><h5 th:text="'Precio: ₡'+ ${nvidia.precio}"></h5></li>
                                    <li class="list-group-item">
                                        <p th:text=" 'Descripción: '+ ${nvidia.descripcion} "></p>
                                    </li>
                                    <li class="list-group-item"><h6>
                                            Cantidad: <input type="number" id="cantidad" name="cantidad"
                                                             autocomplete="off" min="1" max="5" value="1">
                                        </h6></li>
                                </ul>


                                <button type="submit" class="btn btn-dark">Añadir al
                                    carrito</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- Bootstrap core JavaScript -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    </body>
</html>
